body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #e2e2e2;
}

header {
  box-shadow: 2px 2px 2px 2px rgb(116, 116, 116);
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.headImg {
  background-color: #fff;
  padding: 5px;
  border: #cbcbcb;
}

.head1 {
  background-color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  height: 70px;
  line-height: 0.9;
  color: #646363;
}

.boxs1 {
  background-color: rgb(127, 126, 126);
  width: 117.5px;
  height: 70px;
  font-size: large;
  padding: 10px 0px 5px 0px;
  color: #ffffff;
  border-bottom: 6px solid rgb(127, 126, 126);
  border-radius: 0px 0px 0px 5px;
  cursor: pointer;
}
.boxs2 {
  border-bottom: 6px solid red;
  background-color: white;
  width: 117.5px;
  height: 70px;
  font-size: large;
  padding: 10px 0px 5px 0px;
  cursor: pointer;
}
.boxs2:hover {
  background-color: red;
  transition: 0.5s;
  color: #fff;
}
.boxs3 {
  border-bottom: 6px solid rgb(255, 102, 0);
  background-color: white;
  width: 117.5px;
  height: 70px;
  font-size: large;
  padding: 10px 0px 5px 0px;
  cursor: pointer;
}
.boxs3:hover {
  background-color: rgb(255, 102, 0);
  transition: 0.5s;
  color: #fff;
}
.boxs4 {
  border-bottom: 6px solid rgb(255, 213, 0);
  background-color: white;
  width: 117.5px;
  height: 70px;
  font-size: large;
  cursor: pointer;
  padding: 10px 0px 5px 0px;
}
.boxs4:hover {
  background-color: rgb(255, 213, 0);
  transition: 0.5s;
}
.boxs5 {
  border-bottom: 6px solid rgb(0, 129, 19);
  background-color: white;
  width: 117.5px;
  height: 70px;
  font-size: large;
  padding: 10px 0px 5px 0px;
  cursor: pointer;
}
.boxs5:hover {
  background-color: rgb(0, 129, 19);
  transition: 0.5s;
  color: #fff;
}
.boxs6 {
  border-bottom: 6px solid rgb(7, 156, 255);
  background-color: white;
  width: 117.5px;
  height: 70px;
  font-size: large;
  padding: 10px 0px 5px 0px;
  cursor: pointer;
}
.boxs6:hover {
  background-color: rgb(7, 156, 255);
  transition: 0.5s;
  color: #fff;
}
.boxs7 {
  border-bottom: 6px solid rgb(0, 42, 255);
  background-color: white;
  width: 117.5px;
  height: 70px;
  font-size: large;
  padding: 10px 0px 5px 0px;
  border-radius: 0px 0px 5px 0px;
  cursor: pointer;
}
.boxs7:hover {
  background-color: rgb(0, 42, 255);
  transition: 0.5s;
  color: #fff;
}

/* images */

.images {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: #fff;
  gap: 10px;
}

.img {
  width: 550px;
  color: #fff;
  background-color: rgb(66, 66, 66);
  height: 420px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.img1 {
  background: rgb(0, 184, 28);
  height: 190px;
  width: 260px;
  color: #fff;
  border-radius: 5px;
}
.img2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: x-large;
  align-self: flex-end;
  background-color: #ff0000;
  width: 260px;
  height: 173px;
  border-radius: 5px;
}

.img3 {
  background-color: #5a00ba;
  width: 260px;
  height: 190px;
  color: #fff;
}

.img4 {
  display: flex;
  margin-top: 40px;
  gap: 10px;
}

.inImg4 {
  color: #474747;
  width: 270px;
  height: 250px;
  background-color: #949494;
  font-size: x-large;
  border-radius: 5px;
}

.inImg5 {
  color: #ffffff;
  width: 270px;
  height: 250px;
  background-color: #c7b213;
  font-size: x-large;
  border-radius: 5px;
}

/* slider */
.pokemon-slider {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 150px;
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
  overflow: hidden;
  width: max-content;
  gap: 20px;
}

.card {
  width: 280px;
  text-align: center;
  padding: 20px;
  background: #222;
  border-radius: 10px;
  opacity: 0.3;
  transition: 0.4s ease;
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.card.active {
  opacity: 1;
  transform: scale(1.1);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.prev {
  left: 0;
}
.next {
  right: 0;
}

.arrow:hover {
  color: #e63946;
}

.explor{
  margin-top: 50px;
  margin-left: 900px;
  font-size: larger;
  padding: 10px;
  background-color: #343333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}


/* go next page of css */